@import "../../global.scss";

.hero {
  &__wrapper {
    position: relative;
    margin-bottom: 80px;
    margin-top: 169px;
  }
  &__img {
    flex: 1.2;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    margin-top: 50px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1200px) {
      padding: 0 25px;
    }
    @media only screen and (max-width: 950px) {
      flex-direction: column-reverse;
    }
  }
  &__info {
    flex: 1;
    max-width: 550px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    @media only screen and (max-width: 1200px) {
      max-width: 650px;
      text-align: center;
      align-items: center;
    }
  }
  &__title {
    text-transform: capitalize;

    font-size: 46px;
    letter-spacing: 2px;
    line-height: 1.2;

    color: $text-dark;
    @media only screen and (max-width: 1200px) {
      font-size: 36px;
      text-align: center;
    }
    @media only screen and (max-width: 500px) {
      font-size: 26px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1200px) {
      flex-direction: column;
    }
    @media only screen and (max-width: 950px) {
      flex-direction: row;
    }
  }
}
